:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #081138;
  background-image: url('/src/assets/Ilustra.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#root {
  height: 100%;
}

/* Media Query para tablets */
@media (max-width: 1024px) and (min-width: 601px) {
  html, body {
    background-image: url('/src/assets/IlustraTablet.png');
  }
}

/* Media Query para mobile */
@media (max-width: 600px) {
  html, body {
    background-image: url('/src/assets/IlustraMobile.png');
  }
}


