/* Background */
.background {
  width: 100%;
  height: 100%;
  background-color: #081138;
}

/* Container */
.container {
  padding: 20px 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/* Title Styles */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; /* Espaço entre o header e o restante da página */
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #fcbf02;
}

.titleMobile {
  font-size: 24px;
  text-align: left;
}

.titleTablet {
  font-size: 32px;
  text-align: center;
}

/* Card Container */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Quatro colunas */
  gap: 20px; /* Espaçamento entre os cards */
  justify-items: stretch; /* Garante que os cards ocupem toda a largura da coluna */
}

/* Card */
.card {
  width: 100%; /* O card agora ocupará 100% da coluna */
  /* margin: 10px 0; */
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Substituindo o 'elevation' */
  border-radius: 10px !important;
  display: flex;
  flex-direction: column; /* Garante que o conteúdo do card se alinhe em coluna */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transição suave */
}

.card:hover {
  transform: translateY(-5px); /* Move o card para cima */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
}

/* Card Content */
.cardContent {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Card Image */
.cardImage {
  width: 75px;
  height: 75px;
}

/* Card Text Container */
.cardTextContainer {
  flex-grow: 1;
}

/* Card Title */
.cardTitle {
  font-size: 16px;
  font-weight: bold;
  color: #081138;
}

/* Price */
.price {
  font-size: 14px;
  color: #081138;
}

/* Modal Container */
.modalContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%; /* Define o tamanho do modal para 50% da tela */
  max-width: 800px; /* Define um tamanho máximo para telas maiores */
  min-width: 300px; /* Define um tamanho mínimo para telas pequenas */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o modal */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  z-index: 1000; /* Garante que o modal fique na frente de outros elementos */
}

/* Modal Content */
.modalContent {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Modal Image */
.modalImage {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 15px;
}

/* Modal Text Container */
.modalTextContainer {
  flex-grow: 1;
}

/* Modal Title */
.modalTitle {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #081138;
}

/* Modal Text */
.modalText {
  font-size: 16px;
  margin-bottom: 5px;
  color: #081138;
}

/* Modal Button */
.modalButton {
  margin-top: 25px !important;
  background-color: #7ec076 !important;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-end;
}

/* Button */
.buttonContainer {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
  width: 100%;
}

/* Estilo do botão */
.button {
  margin-top: 0px !important;
  background-color: #7ec076 !important;
  padding: 10px !important;
  border-radius: 50px !important;
  width: 25%; /* Botão ocupa 90% da largura do contêiner */
  color: white;
  border: none;
  cursor: pointer;
  text-align: center; /* Garante que o texto fique centralizado */
}

/* Button Text */
.buttonText {
  font-size: 18px;
  color: white;
}

/* Responsividade para telas menores */
@media (max-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr); /* Reduz para três colunas */
  }
 
}

@media (max-width: 900px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr); /* Reduz para duas colunas */
  }
}

@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .cardContent {
    padding: 0px;
  }
  .card{
    padding: 5px !important;
  }
  .button {
    margin-top: 0px !important;
    background-color: #7ec076 !important;
    padding: 22px !important;
    border-radius: 50px !important;
    width: 0%; 
  }
  .MuiButton-startIcon{
    margin-right: 0px !important;
  }
  .title {
    font-size: 25px;
    font-weight: bold;
    color: #fcbf02;
  }
  span {
    display: none;
  }
  .modalContainer {
    width: 80%; /* O modal ocupará 90% da tela em dispositivos menores */
  }
  .modalImage {
    width: 100px;
    height: 100px;
  }
}